:root{
    --primery-text-color:#212121;
    --logo-text:#000000;
    --title-text-color:#757575;
    --accent-color: #2196F3;
    --hero-title: #ffffff;
    --bgr-color:#2F303A;
    --bgr-second-color: #F5F4FA;
    --bgr-portfolio: #EEEEEE;
    --color-address: rgba(255, 255, 255, 0.6);
    --card-set-gap: 30px;
    --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


/* Основний колір тексту */
body{
    color: var(--primery-text-color);
    background-color: var(--hero-title);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}
 /* другорядний колір тексту #757575*/
  /* другорядний колір тексту #ffffff*/
  /* Акцент #2196F3 */
  /* другорядний фон #F5F4FA */
  /* другорядний фон #2F303A*/
h1, h2, h3, h4, h5, h6, ul, p{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 1200px;
    
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    /* outline: 1px solid red; */
}

.header{
    display: flex;
    justify-content: space-between;
    
}


  /* Шапка сторінки */
.page-header{
    border-bottom: 1px solid #ECECEC;
}
.link{
    display: flex;
    align-items: center;
    color: #757575;
    transition: color 250ms var(--timing-function);
    
}  
.page-header .link:hover,
.page-header .link:focus{
    color: var(--accent-color);
    
}

.nav{
    display: inline-flex;
    align-items:center;
    
}  
.logo{
    color: var(--logo-text);
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 93px;
}
span{
    color: var(--accent-color);
}
.site-nav{
    display: flex;
    gap: 50px;
        
    /* outline: 1px solid red; */
}

.site-nav .link{
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 32px 0;

    color: var(--primery-text-color);
    text-decoration: none;

    /* outline: 1px solid red; */
}
.site-nav .link.current{
    
    color: var(--accent-color);
}


.menu-line {
    position: relative;
    display: block;
    text-decoration: none;
}

.menu-line::after {
    content: "";

    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}



.contact-nav{
    display: inline-flex;
    gap: 50px;
      
    /* outline: 1px solid red; */
}
.contact-nav .link{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    padding: 32px 0;
    text-decoration: none;
  
}
.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}


ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Герой */
.hero{
    background-color: var(--bgr-color);
    color: var(--hero-title);
    text-align: center;
    
}
.hero-container{
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
       
}

.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
    border: none;
    cursor: pointer;

    background: var(--accent-color);
    color: var(--hero-title);

    padding: 10px 32px;    
}

.hero-btn:active{
    background: #188CE8;
}

/* OVARLAY */

.ovarlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-color: var(--bgr-color);
}

/* MODAL */

.backdrop {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}
.modal {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);
    padding: 40px;

    min-width: 528px;
    
    border-radius: 4px;
    box-shadow: var(--card-shadow);
    background-color: #ffffff;
    color: var(--primery-text-color);
}

.close-btn {
    position: absolute;
    display: flex;
    border-radius: 50%;
    background-color: #FFFFFF;
    fill: #212121;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    padding: 5px;
    right: 8px;
    top: 8px;
    cursor: pointer;
    
}
.close-icon{
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--timing-function);
}

.close-btn:hover,
.close-btn:focus{
    fill: #2196F3;
}

/* ФОРМА */
.form{
    width: 448px;
    margin-right: auto;
    margin-left: auto;

}
.form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    margin-bottom: 12px;
}
.form-field{
    
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
.form-container{
    position: relative;
    
    
}
.form-input{
    fill: currentColor;
    padding: 11px 12px 11px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    width: 448px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    transition: border 250ms var(--timing-function);
}
.form-input:focus-within ~ .form-icon{
    fill: #2196F3;
}
.form-input:focus{
    border: 1px solid #2196F3;
}
.form-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translateY(12px);
    left: 12px;
    
}
.form-label{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: start;
    color: var(--title-text-color);
    margin-bottom: 4px;
}
.form-label::placeholder{
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    
}

.comment{
    resize: none;
    height: 120px;
    padding: 12px 16px;
    
}
.form-policy{
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    position: absolute;
    
}
.policy{
    width: 425px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin: 0;

    /* outline: 1px solid red; */
}
.checkbox-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    background-color: var(--hero-title);
    margin-right: 8px;
    border: 2px solid var(--primery-text-color);
    border-radius: 4px;
}
.checkbox:checked +.checkbox-icon{
    background-color: #2196F3;
    border-color: #2196F3;
    background-image: url("../images/svg/check.svg");
    object-fit: cover;
    /* background-origin: border-box; */
    background-repeat: no-repeat;
}

.form-contract{
    color: #2196F3;
    text-decoration-line: underline;
}

.form-btn {
    display: flex;
    /* justify-content: center; */
    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-btn:active {
    background: #188CE8;
}
/* Особливості */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.container-items{
    display: inline-flex;
    gap: 30px;
    
}

.icon{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.icon-svg{
    width: 70px;
    height: 70px;
}
.section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section-text{
    font-size: 14px;
    line-height: 1.71;
    
    color: var(--title-text-color);
}




/* Чим ми займаємося */
.work{
    padding-top: 0;
}

.section-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
   
}

.container-icons{
    display: flex;
    gap: 30px;    
    
}
.thumb-img{
    position: relative;
    width: 370px;
}
.thumb-img >.label{
    position: absolute;
    width: 370px;
    bottom: 0;
    padding: 27px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-title);
    background-color: rgba(47, 48, 58, 0.8)

}
/* Наша команда */

.section.team{
    background-color: var(--bgr-second-color);
}

.section-team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
        
}
.section-team-text{
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}
.team-card{
    background: var(--hero-title);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
}
.team-content{
    text-align: center;
    padding: 30px 0;
}
.container-social{
    width: 206px;
    height: 44px;

}
.social-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
    
}
.social-link{
    display: flex;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    cursor: pointer;
    transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);
    
}
.social-icon{
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    fill: currentColor;
    width: 20px;
    height: 20px;
   
}
.social-link:hover,
.social-link:focus{
    color: #ffffff;
    background-color: #2196F3;
}

/* Постійні клієнти */
.client-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    
}

.client-link {
    display: flex;
    padding: 0;
    border: none;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    color: #AFB1B8;
    cursor: pointer;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.client-icon {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    fill: currentColor;
    width: 106px;
    height: 60px;

}
.client-link:hover,
.client-link:focus {
    color: #2196F3;
    border: 1px solid #2196F3;
}

/* Footer */
.footer {
    display: flex;
    background-color:var(--bgr-color);
    padding: 60px 0;
}
.footer-main{
    display: flex;
}
.footer-address {
    display: flex;
    flex-direction: column;
    width: 231px;
    
}

.footer-logo {
    color: var(--hero-title);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-logo span {
    color: var(--accent-color);
}

.address {
    color: var(--hero-title);
}

.footer .street {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    
}

.address a{
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.mailto{
    margin-bottom: 9px;
}

.footer-social{
    width: 206px;
    height: 80px;
    margin: 0;
    padding: 0;
    margin-left: 70px;
    margin-top: 12px;

}
.footer-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
    
}
.footer-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
 
}

.footer-link {
    display: flex;
    padding: 0;
    border: none;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-icon {
    margin: 0;
    padding: 0;
    border: none;
    fill: #ffffff;
    width: 20px;
    height: 20px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #2196F3;
}
.footer-conect{
    width: 570px;
    margin-top: 12px;
    margin-left: 93px;

}
.footer-group{
    display: flex;
    
    gap: 10px;
}
.footer-input{
    width: 358px;
    background-color: #2F303A;
    color: #FFFFFF;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 15px 16px;
}
.footer-btn{
    font-weight: 700;
    font-size: 16px;
    width: 200px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
}
.footer-send{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
/* Portfolio */

/* Filter */

.filter-set {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    
}

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border: 0;
    cursor: pointer;
    background-color: var(--bgr-second-color);
    color: var(--primery-text-color);
    border-radius: 4px;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-color);
    color: var(--hero-title);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* CARD */
.card{
    background: var(--hero-title);
    cursor: pointer;
    transition: box-shadow 250ms var(--timing-function);
}
.card-thumb{
    position: relative;
    overflow: hidden;
    
}
.card-thumb::before{
    display: inline-block;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    cursor: pointer;
        
}
.card:hover .card-thumb::before{
    transform: translateY(0);
    cursor: pointer;
}

.card:hover .card-thumb-text,
.card:hover .card-thumb-text {
    transform: translateY(0);
    cursor: pointer;
}

.card-thumb-text{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    top: 0;
    left: 0;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.card-set{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
        
}

.card-set > .item{
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}
.card:hover,
.card:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-heading{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--primery-text-color);
    cursor: pointer;
}
.card-text{
    font-size: 16px;
    line-height: 1.9;
    color: var(--title-text-color);
    cursor: pointer;
}

.card-content{
    padding: 20px 24px;
    border: 1px solid var(--bgr-portfolio);
    border-top-width: 0;
}
 




