// ОСОБЛИВОСТІ



.feature {
    display: inline-flex;
    gap: $gap-card-set;
}

.feature__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 270px;
    background-color: $color-bgr-light;
    border-radius: 4px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.feature__svg {
    width: 70px;
    height: 70px;
}

.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__text {
    font-size: 14px;
    line-height: 1.71;

    color: $color-secondary;
}