// ПІДВАЛ СТОРІНКИ

.footer {
    display: flex;
    background-color: $color-bgr-footer;
    padding: 60px 0;
}

.footer__main {
    display: flex;
}

.footer__item {
    display: flex;
    flex-direction: column;
    width: 231px;
}

.footer__address {
    color: $color-white;
}

.footer__street {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
}

.footer__link {
    color: $color-text-address;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer__mailto {
    margin-bottom: 9px;
}

