// ШАПКА САЙТУ


.page-header {
    border-bottom: 1px solid #ECECEC; 
}
.header{
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: inline-flex;
    align-items: center;
}
